<div style="margin-top:140px;width:100%;">
  <div id="mvg_services_container">
    <object  type="image/svg+xml" data="../images/mvg_services.svg">Web browser not supported.</object>
  </div>

  <div>
    <div id="mvg_main" name="#mvg_main" class="mvg-tab-pane mvg-pane-active">
      <p style="text-align:center;">MVG Travel is the solution to all matters regarding travel and transportation.<br/>We have tailor made solutions
      that will cater for every type of need in the travel and transportation sector. To find out more information about our departments, click on a heading above.</p>
    </div>
    <div id="mvg_events" name="#mvg_events" class="mvg-tab-pane">
      <p style="text-align:center;">With the events department, we aim to answer to the loud cry for event specialised transportation.
      Be it an event that takes place late at night or an event where masses need to be transported, MVG Travel's
      got you covered. We are a solution like that. But wait! There's more, we do small events too. We do all events.
      We di sicual , recreational, sporting, political and event religious events.</p>
    </div>
    <div id="mvg_solutions" name="#mvg_solutions" class="mvg-tab-pane">
      <p style="text-align:center;">The idea was to create a solution that centralised all corporate transportation.
      So the MVG Travel "Business Solutions" department was born. Simple and convinient corporate transport is now
    available a click away</p>
    </div>
    <div id="mvg_agency" style="background-color:#6F6E73;" name="#mvg_agency" class="mvg-tab-pane">

    </div>
    <div id="mvg_vip" style="background-color:#D9D8E0;" name="#mvg_vip" class="mvg-tab-pane">

    </div>
  </div>

</div>
